*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}


ul.tabs{
	width: 100vh;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18vw;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16rem;
	text-align: center;

	display: block;
	padding: 20rem 0rem;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8rem;
}
.secciones{
	
	margin-top: 14rem;
	color: #D4D4D4;
} 
.tituloClase{
	font-size: 3rem;
	position: relative;
	right: 31vw;	
}

.clase{
	position: relative;
	max-width: 100vw;
	margin-top: 15vh;
	color: #D4D4D4;
}
.video{
	max-width: 70vh;
	margin-top: 5vh;
	display: inline-block;
	position: absolute;
	right: 11vw;
}
.descripcion{
	position: absolute;
	font-size: 2rem;
	right: 2vw;
	top: 25vh;
	padding-left: 0vw;
	width: 40vw;
	color: #CFDEFF;
}



@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

.scrollbars {
	overflow:scroll;
	 height:auto;
	 width: auto;
}